body{
background-color:blue;
text-align:center;
}
h1{font-size:300%;}
p{
background-color:red;
font-family:courier;
}
ol{text-align:center;}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>